In [33]:
import pandas as pd

def to_str(value):
    value = str(value)[::-1]
    value2 = value[0]
    for i in range(1, len(value)):
        if i % 3 == 0:
            value2 += ","
        value2 += value[i]
    return value2[::-1]
    

df1 = pd.read_csv('上市公司資料.csv')
df2 = df1.iloc[:, 2:7]
df3 = df2.set_index("公司名稱")

df3["公司代號"] = df3["公司代號"].astype(int)
df3["營業收入-當月營收"] = df3["營業收入-當月營收"].map(to_str)
df3["營業收入-上月營收"] = df3["營業收入-上月營收"].map(to_str)
df3 #直接print格式會跑掉

      公司代號   產業別  營業收入-當月營收  營業收入-上月營收
公司名稱
亞泥    1102  水泥工業  7,069,221  7,864,622
幸福    1108  水泥工業    390,053    326,691
信大    1109  水泥工業    478,276    557,403
東泥    1110  水泥工業    176,935    134,470
大飲    1213  食品工業     38,696     29,503
...    ...   ...        ...        ...
茂順    9942    其他    352,730    349,111
好樂迪   9943  觀光事業    212,912    197,756
新麗    9944    其他    179,660    231,139
佳龍    9955    其他     81,881     85,625
世紀鋼   9958  鋼鐵工業    757,968    651,699

[839 rows x 4 columns]